[submodule "arduino/src/Arduino-PID-Library"]
	path = arduino/src/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library.git
[submodule "arduino/src/MAX6675-library"]
	path = arduino/src/MAX6675-library
	url = https://github.com/adafruit/MAX6675-library.git
[submodule "arduino/src/msgpack-arduino"]
	path = arduino/src/msgpack-arduino
	url = https://github.com/piernov/msgpack-arduino
[submodule "arduino/src/Time"]
	path = arduino/src/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "arduino/src/Arduino"]
	path = arduino/src/Arduino
	url = https://github.com/RobTillaart/Arduino.git
[submodule "arduino/src/Adafruit-MAX31855-library"]
	path = arduino/src/Adafruit-MAX31855-library
	url = https://github.com/adafruit/Adafruit-MAX31855-library.git
[submodule "arduino/src/Arduino-Makefile"]
	path = arduino/src/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
