[submodule "arduino/src/Arduino-PID-Library"]
	path = arduino/src/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library.git
[submodule "arduino/src/msgpack-arduino"]
	path = arduino/src/msgpack-arduino
	url = https://github.com/piernov/msgpack-arduino
[submodule "arduino/src/Time"]
	path = arduino/src/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "arduino/src/Arduino"]
	path = arduino/src/Arduino
	url = https://github.com/RobTillaart/Arduino.git
[submodule "arduino/src/Arduino-Makefile"]
	path = arduino/src/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "arduino/src/Adafruit_MAX31856"]
	path = arduino/src/Adafruit_MAX31856
	url = https://github.com/adafruit/Adafruit_MAX31856.git
[submodule "rpi3-mongodb3"]
	path = rpi3-mongodb3
	url = https://github.com/piernov/rpi3-mongodb3.git
[submodule "arduino/src/Adafruit-ST7735-Library"]
	path = arduino/src/Adafruit-ST7735-Library
	url = https://github.com/adafruit/Adafruit-ST7735-Library.git
[submodule "arduino/src/Adafruit-GFX-Library"]
	path = arduino/src/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
